.App {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.App div{
  border: 1px dashed #222;
}
.left{
  flex: 3;
  display: flex;
  flex-direction: column;
}
.canvas_container{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
.data_node_container{
  flex: 1;
  overflow-y: auto;
}

.center{
  flex: 1;
  display: block;
}

.right{
  flex:1;
  display: flex;
  flex-direction: column;
}
.operation_broad{
  flex:1;
}
.convert_data{
  flex:1;
}